* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

body {
  color: #383838;
  background: #B8B1AB;
  user-select: none;
  font-family: 'Baloo Bhai', cursive;
}

#game-frame {
  text-align: center;
  user-select: none;
}

#canvas {
  background: #fff;
  user-select: none;
  margin: 12px;
  box-shadow: 0 0 4px gray;
}

#status-bar{
  background: #FFF4E1;
  width: 500px;
  margin: auto;
  padding: 8px;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 0 4px gray;
}

.rest{
  display: inline-block;
  margin-right: 20px;
}

.score{
  display: inline-block;
  margin-right: 20px;
}

.result{
  display: inline-block;
  margin-right: 20px;
  color: #FA776D;
}
